header{/* Definição de layout em grid para o elemento header */
    display: grid;
    grid-template-areas: 
    "cabe"
    "prin"
    "roda";
}
/* Estilos do cabeçalho */
.cabe{
    grid-area: cabe;
    align-items: center;/* Centraliza os elementos do cabeçalho verticalmente */
}
/* Estilos do conteúdo principal */
.prin{
    grid-area: prin;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos do rodapé */
.roda{
    grid-area: roda;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para os ícones no menu móvel */
.nav_mobile img{
    width: 40px;
}

/* Esconde o checkbox utilizado para o menu móvel */
.nav_mobile input[type="checkbox"]{
    display: none;
}

/* Estilos para o menu de navegação móvel */
.nav_mobile nav{
    background-color: white;
    border: black solid;
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -350px;
    transition: all 0.6s;
}

/* Estilos para os links no menu móvel */
.nav_mobile a{
    position: relative;
    border: white solid;
    display: block;
    padding: 20pxscreen 5px;
    text-decoration: none;
}

/* Estilos para a label do menu móvel */
.nav_mobile label{
    position: relative;
    z-index: 1;
}

/* Controla a abertura do menu móvel */
.nav_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.centro{
    text-align: center;
}

/* Estilos de responsividade para telas menores */
@media only screen and (max-width: 800px){
    body{
        grid-template-areas: 
        "cabe"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }
}

/* Estilos de responsividade para telas ainda menores */
@media only screen and (max-width:270px){
    body{
        grid-template-areas: 
        "cabe"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
}

#porta {
    width: 600px; /* Defina a largura da imagem */
    height: 400px; /* Defina a altura da imagem */
    transition: opacity 0.5s; /* Adicione uma transição de 0.5 segundos para a opacidade */
} 

nav a{
   color: rgb(255, 252, 78);
   padding:7px;
   transition:2s;   /*serve para criar uma transição(animação)*/
   font-size:30px;   /*muda o tamanho da font*/
   text-decoration: none;   /*caso queira mudar a decoração do texto ou tirar*/
   font-weight: bold;   /*peso da fonte de um elemento de texto, no caso bold é para negrito*/
}
  
nav ul {
   list-style: none;   /*para escolher um estilo de lista*/
   margin: 0;
   padding: 0;
   display: flex;   /*pode ser usada para alterar a exibição padrão de um elemento*/
   justify-content: center;   /*escolher onde o conteúdo desejado fica*/
}
  
nav li {/* Estilos para os itens da lista (li) na navegação */
    display: inline;/* Exibe os itens da lista em linha (horizontal) */
    margin: 15px 100px 15px 100px;/* Define margens para os itens */
}
  
nav a:hover{/* Estilos para links da navegação quando o mouse está sobre eles (hover) */
    font-weight: bold;/* Torna o texto em negrito quando o mouse está sobre o link */
    text-decoration: none;/* Remove a decoração dos links no hover */
    font-size: 35px;/* Aumenta o tamanho da fonte quando o mouse está sobre o link */
}

#aritmetica{/* Estilos para a imagem com ID "aritmetica" */
    width: 300px;/* Define a largura da imagem com ID "aritmetica" */
    height: 200px;/* Define a altura da imagem com ID "aritmetica" */
    transition: opacity 0.5s;/* Adiciona uma transição de 0,5 segundos para a propriedade de opacidade */
}
.img{/* Estilos para as imagens com a classe "img" */
    width: 250px;/* Define a largura das imagens com a classe "img" */
}

.exercicios{/* Estilos para a classe "exercicios" */
    background-color: blue;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(135deg, #333); /* Define um plano de fundo gradiente */
    border-radius: 30px; /* Arredonda as bordas da caixa */
    margin: 200px; /* Define margem superior e inferior de 200px */
    margin-top: 40px; /* Define margem superior de 40px */
    margin-bottom: 0px; /* Define margem inferior de 0px */
}

p{/* Estilos para o parágrafo <p> */
    background-color: blue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(135deg, #333);
    border-radius: 30px;
    margin: 70px;
    margin-top: 40px;
    margin-bottom: 0px;
}